@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  font-family: Roboto;
  overflow: hidden;
  height: 100%;
  
}
@font-face {
  font-family: Roboto;
  src: url("../src/assets/fonts/Roboto-Regular.ttf") format("truetype");
}
#copilot-chat::-webkit-scrollbar {
  display: none;
}