@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  font-family: Roboto;
  overflow: hidden;
  height: 100%;
  
}
@font-face {
  font-family: Roboto;
  src: url("../src/assets/fonts/Roboto-Regular.ttf") format("truetype");
}
@layer utilities {
  .green-gradient {
    background-image: radial-gradient(circle, #84d3a2, #00bcb5, #009ed7, #0078e7, #3e3dc7);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
  }
}
